@model HomeViewModel
@{
    int availableBooks = Model.BookCount - Model.LendBookCount;
}

<h1>Welcome to my project by Dima AL Hafez </h1>

<h3>Library management </h3>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <P>My appreciation to Dr. Muhammad Obaid.</P>
                
            </div>
            <div class="panel-body">
                I wanted to express my deep gratitude for your exceptional dedication to teaching and guiding us through advanced programming. Your expertise, patience, and commitment have had a huge impact on my educational journey.

                Your ability to explain complex concepts in a clear and understandable way truly sets you apart as an outstanding teacher.
            </div>
        </div>
    </div>

</div>